@page
@model ProductManagementSystem.Web.Pages.IndexModel
@using ProductManagementSystem.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using ProductManagementSystem.Localization
@using Volo.Abp.Users
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<ProductManagementSystemResource> L
@inject ICurrentUser CurrentUser
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.MenuItemName = ProductManagementSystemMenus.Home;
}

@section styles {
    <abp-style src="/Pages/Index.css" />
}

<div class="row mb-3">
    <div class="col-xl-6 col-12 d-flex">
        <div class="card h-lg-100 w-100 overflow-hidden">
            <div class="card-body">
                <div class="starting-content pe-5">
                        <h3>@L["Welcome"]</h3>
                </div>
            </div>
        </div>
    </div>
</div>
